<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="layout/layout :: head"></div>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Product Copies</th>
        <th>Name</th>
        <th>Description</th>
        <th>Target Gender</th>
        <th>Selling price</th>
        <th>boughtFor</th>
        <th>createdAt</th>
        <th>updatedAt</th>
        <th>brand</th>
        <th>category</th>
        <th>Tag list</th>
        <th>Photos</th>
        <th>Rates</th>
        <th>Discount</th>
        <th>Baskets</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.productCopies}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.targetGender}"></td>
        <td th:text="${product.sellingPrice}"></td>
        <td th:text="${product.boughtFor}"></td>
        <td th:text="${product.createdAt}"></td>
        <td th:text="${product.updatedAt}"></td>
        <td th:text="${product.brand}"></td>
        <td th:text="${product.category}"></td>
        <td th:text="${product.tagList}"></td>
        <td th:text="${product.photos}"></td>
        <td th:text="${product.rates}"></td>
        <td th:text="${product.discount}"></td>
        <td th:text="${product.baskets}"></td>
    </tr>
</table>

<a th:href="create-lottery">CREATE Product</a>
</body>
</html>