<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Pretchee</title>
        <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
              rel="stylesheet">
        <link rel='stylesheet' href='css/style.min.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='css/style.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='css/styles.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='css/layout.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='css/small-screen.css' type='text/css' media='only screen and (max-width: 768px)'/>
        <link rel='stylesheet' href='css/woocommerce.css' type='text/css' media='all'/>
        <link crossorigin="anonymous" rel='stylesheet'
              href='//fonts.googleapis.com/css?family=Karla%3A400%2C700&#038;ver=5.3.2' type='text/css' media='all'/>
        <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='css/owl.carousel.min.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='css/owl.theme.default.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='css/dashicons.min.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='css/theme-author.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='css/main-style.css' type='text/css' media='all'/>
        <script src="https://kit.fontawesome.com/b9ecb7ade4.js" crossorigin="anonymous"></script>

        <style type="text/css">
            img.wp-smiley,
            img.emoji {
                display: inline !important;
                border: none !important;
                box-shadow: none !important;
                height: 1em !important;
                width: 1em !important;
                margin: 0 .07em !important;
                vertical-align: -0.1em !important;
                background: none !important;
                padding: 0 !important;
            }
        </style>
    </head>
    <body>
        <div th:fragment="header-bar">
            <header class="top-header-bar-container">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="top-header-bar">

                                <li class="top-email">
                                    <i class="fa fa-envelope-o"></i>
                                    <a href="/contact" class="__cf_email__"
                                       data-cfemail="2b4d47524a58586b4c464a424705484446">pretchee@gmail.com
                                    </a>
                                </li>
                                <li class="top-cart">
                                    <a th:href="@{/cart}">
                                        <i class="fa fa-shopping-cart"></i>
                                        Koszyk -
                                        <span class="price" th:if="${session.userCart == null && session.sessionCart == null}">0 zł</span>
                                        <span class="price" th:if="${session != null && session.userCart != null}" th:text="${session.userCart.priceForCartItems + ' zł'}"></span>
                                        <span class="price" th:if="${session != null && session.userCart == null && session.sessionCart != null}" th:text="${session.sessionCart.priceForCartItems + ' zł'}"></span>
                                    </a>
                                </li>

                                <li class="top-account">
                                    <a th:href="@{/my-account}">
                                        <i class="fa fa-user"></i>
                                        Moje Konto
                                    </a>
                                </li>

                                <li class="top-search">
                                    <form role="search" method="get" class="pull-right" id="searchform_topbar"
                                          th:action="@{/search}">
                                        <label>
                                            <span class="screen-reader-text"></span>
                                            <input class="search-field-top-bar" id="search-field-top-bar"
                                                   placeholder="Search ..." value="" name="s" type="search">
                                        </label>
                                        <button id="search-top-bar-submit" type="submit" class="search-top-bar-submit">
                                            <span class="fa fa-search"></span>
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <header id="masthead" class="site-header" role="banner">
                <div class="site-branding container">
                    <div class="row">
                        <div class="col-sm-4 header-logo">
                            <a th:href="@{/}" class="custom-logo-link" rel="home">
                                <img src="../static/img/logo.png" width="150" height="70"
                                     th:src="@{/img/logo.png}"
                                     alt="Pretchee Logo"/>
                            </a>
                        </div>
                    </div>
                </div>
                <nav id="site-navigation" class="main-navigation" role="navigation">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <ul id="desktop-menu" class="sf-menu">
                                    <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                                        id="menu-item-83"
                                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-83 active">
                                        <a title="Home" th:href="@{/}">Strona Domowa</a>
                                    </li>
                                    <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                                        id="menu-item-86"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86">
                                        <a
                                                title="Shop" th:href="@{/shop}">Sklep
                                        </a>
                                    </li>
                                    <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                                        id="menu-item-85"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-85">
                                        <a
                                                title="Contact" th:href="@{/contact}">Kontakt
                                        </a>
                                    </li>
                                </ul>
                                <button href="#" id="mobile-menu-trigger">
                                    <i class="fa fa-bars"></i>
                                </button>

                            </div>
                        </div>
                    </div>
                </nav>
            </header>
        </div>
        <div th:fragment="main-footer">
            <footer id="colophon" class="site-footer" role="contentinfo">
                <div class="widgets-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <div id="meta-4" class="widget widget_meta"><h5 class="widget-title"><span>Meta</span></h5>
                                    <ul>
                                        <li><a rel="nofollow" th:href="@{/register}">Zarejestruj się</a>
                                        </li>
                                        <li><a rel="nofollow" th:href="@{/login}">Zaloguj się</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div id="text-3" class="widget widget_text"><h5 class="widget-title"><span>O nas</span></h5>
                                    <div class="textwidget"><p>Internetowy sklep odzieżowy marki Pretchee</p>
                                        <p>Z wielką przyjemnością chcemy przedstawić i polecić państwu nasze produkty, których jakość oraz design są jedyne w swoim rodzaju</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div id="tag_cloud-3" class="widget widget_tag_cloud"><h5 class="widget-title"><span>Tagi</span>
                                </h5>
                                    <div class="tagcloud"><a th:href="@{'/shop?s=winter'}"
                                                             class="tag-cloud-link tag-link-52 tag-link-position-1"
                                                             style="font-size: 8pt;" aria-label="Autumn (1 item)">zima</a>
                                        <a th:href="@{'/shop?s=summer'}"
                                           class="tag-cloud-link tag-link-56 tag-link-position-2" style="font-size: 8pt;"
                                           aria-label="dress (1 item)">lato</a>
                                        <a th:href="@{'/shop?s=autumn'}"
                                           class="tag-cloud-link tag-link-54 tag-link-position-3" style="font-size: 18.5pt;"
                                           aria-label="fashion (3 items)">jesień</a>
                                        <a th:href="@{'/shop?s=new'}"
                                           class="tag-cloud-link tag-link-57 tag-link-position-4" style="font-size: 8pt;"
                                           aria-label="jackets (1 item)">nowe</a>
                                        <a th:href="@{'/shop?s=promotion'}"
                                           class="tag-cloud-link tag-link-55 tag-link-position-5" style="font-size: 8pt;"
                                           aria-label="stockings (1 item)">promocja</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

            <footer class="site-copyright">
                <div class="site-info ">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="menu-social" class="menu pull-left">
                                    <ul id="menu-social-items" class="menu-items">
                                        <li id="menu-item-88"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-88"><a
                                                href="https://facebook.com"><span class="screen-reader-text">Facebook</span></a>
                                        </li>
                                        <li id="menu-item-89"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-89"><a
                                                href="https://twitter.com"><span class="screen-reader-text">Twitter</span></a>
                                        </li><li id="menu-item-92"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-92"><a
                                                href="https://youtube.com"><span class="screen-reader-text">YouTube</span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="copyright-text pull-right">
                                    Copyright &copy; 2020 <span class="sep">|</span> <a href="https://colorlib.com/tyche">Theme:
                                    Tyche</a> <span class="sep">|</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>