<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="layout/layout :: head"></div>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .element {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    </style>
    <script>
        function increase_products_number(limit, product_id) {
            var quantity = document.getElementById("quantity").value;
            quantity++;
            if (quantity >= limit) {
                quantity = limit;
            }
            document.getElementById("quantity").value = quantity;
            document.getElementById("ratio").value = 1;
            document.getElementById('submit_' + product_id).submit();
        }

        function decrease_products_number(limit, product_id) {
            var quantity = document.getElementById("quantity").value;
            quantity--;
            if (quantity <= limit) {
                quantity = limit;
            }
            document.getElementById("quantity").value = quantity;
            document.getElementById("ratio").value = -1;
            document.getElementById('submit_' + product_id).submit();
        }
    </script>
</head>
<body>
<header th:replace="layout/layout :: header-bar"></header>
<div class="container">
    <div class="row">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
                <article id="post-7" class="post-7 page type-page status-publish hentry">
                    <div class="row">
                        <div class="col-md-12">
                            <header>
                                <h1 class="page-title margin-top">Mój koszyk</h1>
                            </header>
                        </div>
                    </div>
                    <div class="woocommerce">
                        <div class="row" th:each="product : ${cart.productsInBasket.entrySet()}">
                            <div class="col-md-3">
                                <figure class="woocommerce-product-gallery__wrapper">
                                    <div th:data-thumb="${product.getKey().photos.get(1).url}"
                                         data-thumb-alt="" class="woocommerce-product-gallery__image"><img
                                            width="255" height="320"
                                            src=".."
                                            th:src="${product.getKey().photos.get(1).url}"
                                            class="wp-post-image" alt="" title="key-692199_1920" data-caption=""
                                            th:data-src="${product.getKey().photos.get(1).url}"
                                            th:data-large_image="${product.getKey().photos.get(1).url}"
                                            data-large_image_width="1128" data-large_image_height="1161"
                                            sizes="(max-width: 255px) 100vw, 255px"/>
                                    </div>
                                    <figcaption th:text="${product.getKey().name}"></figcaption>
                                </figure>
                            </div>
                            <div class="col-md-3 col-md-offset-3 element">
                                <form th:id="'submit_' + ${product.getKey().productId}" class="cart" th:action="'/update-products-quantity/' + ${product.getKey().productId}" method="get"
                                      enctype='multipart/form-data'>
                                    <div class="quantity">
                                        <label class="screen-reader-text" for="quantity">Amari Shirt
                                            quantity</label>
                                        <div class="styled-number">
                                            <a href="javascript:;" th:onclick="'decrease_products_number(' + ${1} + ',' + ${product.getKey().productId} + ')'"
                                               class="arrow-up incrementor" data-increment="down">
                                                <span class="dashicons dashicons-minus"></span>
                                            </a>
                                            <input type="number" id="quantity" class="input-text qty text"
                                                   step="1" min="1" max="" name="newQuantity" th:value="${product.getValue()}" title="Qty" size="4"
                                                   inputmode="numeric"/>
                                            <a href="javascript:;" th:onclick="'increase_products_number(' + ${product.getKey().numberOfCopies} + ',' + ${product.getKey().productId} +')'"
                                               class="arrow-up incrementor" data-increment="up">
                                                <span class="dashicons dashicons-plus"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <input type="number" hidden="hidden" name="ratio" id="ratio" value="0">
                                </form>
                            </div>
                            <div class="col-md-3 col-md-offset-6 element">
                                <span th:text="'Cena: ' + ${product.getKey().getSellingPrize().doubleValue() * product.getValue() + 'zł'}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4 text-center">
                            <form action="#" th:action="@{/submit-your-order}" method="get">
<!--                              <input th:field="*{priceForCartItems}" type="hidden">-->
<!--                              <input th:field="*{productsInBasket}" type="hidden">-->
                              <button type="submit">Złóż zamówienie!</button>
                            </form>
                        </div>
                    </div>
                </article>
            </main>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: main-footer"></footer>
</body>
</html>