<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Form</title>
    <div th:replace="layout/layout :: head"></div>
<!--    <script>-->
<!--        var password = document.getElementById("password"),-->
<!--            confirm_password = document.getElementById("confirm_password");-->

<!--        function validatePassword() {-->
<!--            if (password.value !== confirm_password.value) {-->
<!--                confirm_password.setCustomValidity("Podałeś różne hasła");-->
<!--            } else {-->
<!--                confirm_password.setCustomValidity('');-->
<!--            }-->
<!--        }-->

<!--        password.onchange = validatePassword;-->
<!--        confirm_password.onkeyup = validatePassword;-->
<!--    </script>-->
<body class="page-template-default page page-id-7 wp-custom-logo theme-tyche woocommerce-account woocommerce-page woocommerce-no-js">
<div id="page" class="site">
    <header th:replace="layout/layout :: header-bar"></header>
    <div class="container">
        <div class="row">
            <div id="primary" class="content-area col-md-12">
                <main id="main" class="site-main" role="main">


                    <article id="post-7" class="post-7 page type-page status-publish hentry">
                        <div class="row">
                            <div class="col-md-12">
                                <header>
                                    <h1 class="page-title margin-top">Rejestracja</h1>
                                </header>
                            </div>
                        </div>
                        <div class="woocommerce">
                            <div class="woocommerce-notices-wrapper"></div>

                            <form action="#" th:action="@{'/register'}" th:object="${user}"
                                  class="woocommerce-form woocommerce-form-login login" method="post">
                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                    <label>Email&nbsp;<span class="required">*</span></label>
                                    <input type="text" class="woocommerce-Input woocommerce-Input--text input-text"
                                           th:field="*{email}"/></p>

                                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                        <label>Hasło&nbsp;<span class="required">*</span></label>
                                        <input class="woocommerce-Input woocommerce-Input--text input-text" type="password"
                                               id="password" required placeholder="Hasło" th:field="*{password}"/>
                                    </p>
<!--                                    <p class="woocommerce-form-row woocommerce-form-row&#45;&#45;wide form-row form-row-wide">-->
<!--                                        <label>Powtórz hasło&nbsp;<span class="required">*</span></label>-->
<!--                                        <input class="woocommerce-Input woocommerce-Input&#45;&#45;text input-text" type="password"-->
<!--                                              id="confirm_password" required placeholder="Powtórz hasło" name="password"/>-->
<!--                                    </p>-->


                                <p class="form-row">
                                    <button type="submit"
                                            class="woocommerce-button button woocommerce-form-login__submit"
                                            value="Register">Zarejestruj
                                    </button>
                                </p>
                            </form>


                        </div>
                    </article><!-- #post-## -->

                </main><!-- #main -->
            </div><!-- #primary -->

        </div>
    </div>
</div><!-- #content -->

<!-- Footer -->
<footer th:replace="layout/layout :: main-footer"></footer>

</div><!-- #page -->
</body>
</html>
