<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="layout/layout :: head"></div>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .border {
            border: #6c7781 1px solid;
        }
    </style>
</head>
<body>
<header th:replace="layout/layout :: header-bar"></header>
<div class="container">
    <h1>Potwierdź swoje zamówienie</h1>
    <h3>Zamawiane przedmioty</h3>
    <div class="row">
        <div class="col-xs-3 border">Nazwa</div>
        <div class="col-xs-3 border">Ilość</div>
        <div class="col-xs-3 border">Cena</div>
    </div>
    <div class="row" th:each="product : ${cart.productsInBasket.entrySet()}">
        <div class="col-xs-3 border" th:text="${product.getKey().name}"></div>
        <div class="col-xs-3 border" th:text="${product.getValue()}"></div>
        <div class="col-xs-3 border"
             th:text="${product.getKey().sellingPrize.doubleValue() * product.getValue()} + 'zł'"></div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-xs-offset-9 border" th:text="'Łącznie: ' + ${cart.priceForCartItems} + 'zł'"></div>
    </div>
    <form action="#" th:action="@{/submit-your-order}" th:object="${shippingDetails}" method="post">
        <h3>Wybierz sposób dostawy</h3>
        <fieldset>
            <input list="deliveryTypesList" name="deliveryTypeId">
            <datalist id="deliveryTypesList">
                <option th:each="deliveryType : ${deliveryTypesList}" th:value="${deliveryType.id}"
                        th:text="${deliveryType.name} + ' cena: ' + ${deliveryType.price} + 'zł'">
                </option>
            </datalist>
        </fieldset>
        <h3>Podaj dane wysyłki</h3>
        <fieldset>
            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                Imię
                <br>
                <label>
                    <input type="text" th:field="*{name}"/>
                </label>
            </p>
            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                Nazwisko
                <br>&nbsp;
                <label>
                    <input type="text" th:field="*{surname}"/>
                </label>
            </p>

            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                Adres
                <br>
                <label>
                    <textarea class="woocommerce-Input woocommerce-Input--text input-text" th:field="*{address}"></textarea>
                </label>
            </p>
            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                Numer Telefonu
                <br>
                <label>
                    <input type="tel" th:field="*{phoneNumber}"/>
                </label>
            </p>
        </fieldset>
        <h3>Wybierz sposób płatności</h3>
        <fieldset>
            <input list="paymentTypesList" name="paymentTypeId">
            <datalist id="paymentTypesList">
                <option th:each="paymentType : ${paymentTypesList}" th:value="${paymentType.id}"
                        th:text="${paymentType.paymentType}">
                </option>
            </datalist>
        </fieldset>
        <h3>Wpisz kod promocyjny</h3>
        <fieldset>
            <label>
                <input type="text" name="promoCode"/>
            </label>
        </fieldset>
        <fieldset>
            <input type="submit" value="Potwierdzam zamówienie!">
        </fieldset>
    </form>
</div>


<footer th:replace="layout/layout :: main-footer"></footer>
</body>
</html>