<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="layout/layout :: head"></div>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .border {
            border: #6c7781 1px solid;
        }
    </style>
</head>
<body>
<header th:replace="layout/layout :: header-bar"></header>
<div class="container">
    <h1>Potwierdź swoje zamówienie</h1>
    <h3>Zamawiane przedmioty</h3>
    <div class="row">
        <div class="col-xs-3 border">Nazwa</div>
        <div class="col-xs-3 border">Ilość</div>
        <div class="col-xs-3 border">Cena</div>
    </div>
    <div class="row" th:each="product : ${cart.productsInBasket.entrySet()}">
        <div class="col-xs-3 border" th:text="${product.getKey().name}"></div>
        <div class="col-xs-3 border" th:text="${product.getValue()}"></div>
        <div class="col-xs-3 border" th:text="${product.getKey().sellingPrize.doubleValue() * product.getValue()} + 'zł'"></div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-xs-offset-9 border" th:text="'Łącznie: ' + ${cart.priceForCartItems} + 'zł'"></div>
    </div>
    <h3>Wybierz sposób dostawy</h3>
    <select>
        <option th:each="deliveryType : ${deliveryTypesList}" name="deliveryType" th:value="${deliveryType.id}"
        th:text="${deliveryType.name} + ' cena: ' + ${deliveryType.price} + 'zł'">
        </option>
    </select>
    <h3>Podaj dane wysyłki</h3>
    <form action="#" th:action="@{/submit-your-order}" th:object="${shippingDetails}">
        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
            <label>Imię</label>
            <label>
                <input type="text" th:field="*{name}"/>
            </label>
        </p>
        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
            <label>Nazwisko&nbsp;</label>
            <label>
                <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" th:field="*{surname}"/>
            </label>
        </p>

        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
            <label>Adres</label>
            <label>
                <textarea class="woocommerce-Input woocommerce-Input--text input-text" th:field="*{address}"></textarea>
            </label>
        </p>
        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
            <label>Numer Telefonu&nbsp;</label>
            <label>
                <input type="tel" class="woocommerce-Input woocommerce-Input--text input-text"
                       th:field="*{phoneNumber}"/>
            </label>
        </p>
    </form>
</div>



<footer th:replace="layout/layout :: main-footer"></footer>
</body>
</html>